<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="aida64-extreme.portable" />
  <package id="anki" />
  <package id="chocolateygui" />
  <package id="curl" />
  <package id="cursoride" />
  <package id="dbeaver" />
  <package id="docker-desktop" />
  <package id="Firefox" />
  <package id="gephi" />
  <package id="git" />
  <package id="graphviz" />
  <package id="keepassxc" />
  <package id="keystore-explorer.portable" />
  <package id="kubernetes-cli" />
  <package id="kubernetes-helm" />
  <package id="maven" />
  <package id="notepadplusplus" />
  <package id="nvm" />
  <package id="obsidian" />
  <package id="offset-explorer" />
  <package id="openjdk" />
  <package id="openssl" />
  <package id="openvpn" />
  <package id="pandoc" />
  <package id="postman" />
  <package id="python" />
  <package id="python311" />
  <package id="rust" />
  <package id="safenet-authentication-client" />
  <package id="telegram" />
  <package id="Temurin11" />
  <package id="visualstudio2017buildtools" />
  <package id="visualstudio2017-workload-vctools" />
  <package id="vscode" />
  <package id="wsl" />
  <package id="zoom" />
</packages>
